.zoomWrapper {
  position: relative;
}
.posbutton {
    position: absolute;
     z-index: 998;
     margin-left: 80vw;
     margin-top: 68vh;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}
.mapContainer {
    height: 80vh;
    width: 100vw;
}
@media (min-width: 768px) {
  .mapContainer {
    height: 85vh;
    width: 50vw;
  }
} 
.zoomInBtn {
  position: absolute;
  background: #F26522;
  color: white;
  height: 28px;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  width: 20px;
  display: flex;
  justify-content: center;
  margin-left: 45vw;
  margin-top: 74vh;
  z-index: 1001;
}
.zoomOutBtn {
  position: absolute;
  background: #F26522;
  color: white;
  height: 28px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  width: 20px;
  display: flex;
  justify-content: center;
  margin-left: 45vw;
  margin-top: 78vh;
  z-index: 1001;
}