.posbutton {
    position: absolute;
     z-index: 998;
     margin-left: 80vw;
     margin-top: 68vh;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}
.mapContainer {
    height: 80vh;
    width: 100vw;
}
@media (min-width: 768px) {
  .mapContainer {
    height: 85vh;
    width: 50vw;
  }
}